<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Update task</title>
</head>
<body><br>
<a href ="/">Home</a><br><br>
    <form action ="updatecompleted" method="POST">
        Task ID <input type = "text" name = "taskID"/><br>
        Status <select name ="newStatus">
                    <option value="inProgress">In Progress</option>
                    <option value="Complete">Complete</option>
                </select><br>
        <button>Submit</button>
    </form>
</body>
</html>